<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.xm.spring.bean.UserDao"/>

    <bean id="userService" class="com.xm.spring.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.xm.spring.common.MyBeanPostProcessor"/>
    <bean class="com.xm.spring.common.MyBeanFactoryPostProcessor"/>

</beans>